<app-collection-item-card [item]="collectionItem()" />

<form [formGroup]="itemFormGroup" (submit)="submit($event)">
  <mat-form-field class="form-field">
    <mat-label for="name">Name:</mat-label>
    <input matInput
           id="name"
           name="name"
           formControlName="name"
    />
    @if (isFieldValid('name')){
      <mat-error>This field is required!</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label for="description">Description:</mat-label>
    <textarea matInput
      type="text"
      id="description"
      name="description"
      formControlName="description"
      rows="5"
    >
    </textarea>
    @if (isFieldValid('description')){
      <mat-error>This field is required!</mat-error>
    }
  </mat-form-field>
  <div class="form-field">
    <button
      matButton="elevated"
      (click)="$event.preventDefault(); imageUploader.click()"
     >
      Upload Image: {{imageUploader.files?.[0]?.name || '...'}}
    </button>
    <input
      hidden
      #imageUploader
      id="image"
      name="image"
      type="file"
      (change)="onFileChange($event)"
    >
    @if (isFieldValid('image')){
      <mat-error>This field is required!</mat-error>
    }
  </div>
  <mat-form-field class="form-field">
    <mat-label for="rarity">Rarity</mat-label>
    <mat-select
      id="rarity"
      name="rarity"
      formControlName="rarity"
    >
      @for (rarity of rarities; track rarity){
        <mat-option [value]="rarity">{{rarity}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label for="price">price:</mat-label>
    <input matInput
           type="number"
           id="price"
           name="price"
           formControlName="price"
    />
    @if (isFieldValid('price')){
      @let priceFC = itemFormGroup.get('price');
      @if (priceFC?.hasError('min')){
        <mat-error>
          This value must be bigger or equal to 0.
        </mat-error>
      } @else {
        <mat-error>This field is required!</mat-error>
      }
    }
  </mat-form-field>
  <div class="action-buttons">
    <div class="left">
      @if (this.itemId()) {
        <button matButton="filled" class="danger" type="button" (click)="deleteItem()">Delete</button>
      }
    </div>
    <div class="right">
      <button matButton="text" type="button" (click)="cancel()">Cancel</button>
      <button
        matButton="filled"
        type="submit"
        [disabled]="itemFormGroup.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>
