<form [formGroup]="itemFormGroup" (submit)="submit($event)">
  <div class="form-field">
    <label for="name">Name:</label>
    <input type="text"
           id="name"
           name="name"
           formControlName="name"
    />
    @if (isFieldValid('name')){
      <div class="error">This field is required!</div>
    }
  </div>
  <div class="form-field">
    <label for="description">Description:</label>
    <input type="text"
           id="description"
           name="description"
           formControlName="description"
    />
    @if (isFieldValid('description')){
      <div class="error">This field is required!</div>
    }
  </div>
  <div class="form-field">
    <label for="image">Image</label>
    <input type="file"
           (change)="onFileChange($event)"
           id="image"
           name="image"
           formControlName="image"
    />
    @if (isFieldValid('image')){
      <div class="error">This field is required!</div>
    }
  </div>
  <div class="form-field">
    <label for="rarity">Rarity</label>
    <select
      id="rarity"
      name="rarity"
      formControlName="rarity"
    >
      @for (rarity of rarities; track rarity){
        <option [value]="rarity">{{rarity}}</option>
      }
    </select>
    @if (isFieldValid('name')){
      <div class="error">This field is required!</div>
    }
  </div>
  <div class="form-field">
    <label for="price">price:</label>
    <input type="number"
           id="price"
           name="price"
           formControlName="price"
    />
    @if (isFieldValid('price')){
      @let priceFC = itemFormGroup.get('price');
      @if (priceFC?.hasError('min')){
        <div class="error">
          This value must be bigger or equal to 0.
        </div>
      } @else {
        <div class="error">This field is required!</div>
      }
    }
  </div>
  <button
    type="submit"
    [disabled]="itemFormGroup.invalid"
  >
    Submit
  </button>
</form>
