<header id="collection-header">
  <h1>My collections</h1>
  <div>
    <app-search-bar
      [(search)]="search"
    >
    </app-search-bar>

  </div>
</header>
<section class="collection-grid">
  @for (item of collectionItems(); track item.name){
    <app-collection-item-card [item]="item"></app-collection-item-card>
  }
</section>
@let itemsCount = collectionItems()?.length;
@if (itemsCount){
  <div class="centered">Found {{itemsCount}} result(s)</div>
}
  @else {
  <div>No result found</div>
}
