<header id="collection-header">
  <h1>My collections</h1>
  <div>
    <app-search-bar
      [(search)]="search"
    >
    </app-search-bar>
  </div>
</header>
<section class="collection-grid">
  @for (item of displayedItems(); track item.name){
    @switch (item.rarity){
      @case ('Legendary'){
        <div>
          <app-collection-item-card [item]="item"></app-collection-item-card>
          <hr class="gold">
        </div>
      }
      @case ('Rare'){
        <div>
          <app-collection-item-card [item]="item"></app-collection-item-card>
          <hr class="grey">
        </div>
      }
      @default {
        <div>
          <app-collection-item-card [item]="item"></app-collection-item-card>
        </div>
      }
    }
  }
</section>
@let itemsCount = displayedItems()?.length;
@if (itemsCount){
  <div class="centered">Found {{itemsCount}} result(s)</div>
}
  @else {
  <div>No result found</div>
}
<div class="centered"><button (click)="addGenericItem()">Add Generic Item</button></div>
