@let currentUser = user();
@if (currentUser) {
  <nav>
    <header>
      <span class="avatar">
        {{currentUser.firstName.charAt(0)}}
      </span>
      {{currentUser.firstName}}
      {{currentUser.lastName}}
    </header>
    <ul>
      @let collectionList = collections() || [];
      @for (collection of collectionList; track collection.id) {
        <li class="selected">
          <div class="dot"></div>
          <div class="collection">
            <div class="name">Default Collection</div>
            <div class="items-count">X items</div>
          </div>
        </li>
      }
    </ul>
    <footer>
      <button matButton="filled" class="danger" (click)="logout()">Logout</button>
    </footer>
  </nav>
}
